<main class="page">
  <p class="page__main--font">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias iure pariatur vero
    reprehenderit illum dolor impedit minus autem quos consequatur optio fugit sit quae, beatae architecto? Earum iste
    recusandae eaque!</p>
  <p class="page__main--color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias iure pariatur vero
    reprehenderit illum dolor impedit minus autem quos consequatur optio fugit sit quae, beatae architecto? Earum iste
    recusandae eaque!</p>
  <p class="page__main-font">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias iure pariatur vero
    reprehenderit illum dolor impedit minus autem quos consequatur optio fugit sit quae, beatae architecto? Earum iste
    recusandae eaque!</p>
</main>