.container {
  background-color: aqua;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
}
.container1 {
  background-color: aqua;
  width: 500px;
  height: 500px;
  display:flex
  flex-direction: column;
}
.item {
  background-color: blueviolet;
  border: solid black 1px;
  box-sizing: border-box;
}
