* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-content: center;
}

.item-2 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  max-width: 600px;
  flex-grow: 1;
}
.item-3 {
  max-width: 600px;
  margin: 10px;
  align-self: flex-end;
  padding-top: 20px;
  border-top: solid 2px grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: lightgray;
}
.item-1 {
  color: white;
  background-color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center;
}
.li {
  float: left;
  margin: 2px;
  padding: 2px;
}
.encabezado {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px 0;
  font-size: 14px;
  color: lightgray;
}
.tittle {
  font-size: 40px;
  padding-bottom: 20px;
}
.menu-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center;
}
